/* sass css 01
 -----------------------------------------------------*/
body {
  position: relative;
}

.ui-autocomplete {
  z-index: 111061 !important;
}

#ModalSelectMap .modal-dialog {
  width: 900px;
  position: relative;
  background: #FFF;
  padding-top: 27px;
}
#ModalSelectMap .modal-dialog .modal-header {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}
#ModalSelectMap .modal-dialog .modal-header .close {
  position: absolute;
  right: 22px;
  top: 27px;
  display: block;
  opacity: 1;
  width: 40px;
  height: 40px;
}
#ModalSelectMap .modal-dialog .modal-header .close span {
  text-indent: 9999px;
}
#ModalSelectMap .modal-dialog .search-map {
  width: 502px;
  margin: 0 auto;
}
#ModalSelectMap .modal-dialog .search-map .ui.search {
  width: 502px;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .ui.input {
  position: relative;
  width: 502px;
  margin: 0 auto;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .ui.icon.input input[type="text"] {
  padding-left: 40px;
  width: 502px;
  height: 42px;
  border: 1px solid #D7D7D7;
  color: #1D1E1E;
  line-height: 14px;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .ui.icon.input .icon {
  position: absolute;
  top: 0px;
  width: 30px;
  height: 30px;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .ui.icon.input .icon img {
  margin: 12px 0px 0px 11px;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .results {
  left: 30px;
  padding: 0px 10px;
  width: 462px;
  border: 1px solid #D7D7D7;
  border-radius: 11px;
  background-color: #FFFFFF;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .results a {
  padding: 15px 10px;
  position: relative;
  overflow: visible;
  z-index: 999;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .results a:first-child:before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #FFF;
  position: absolute;
  border-left: 1px solid #D7D7D7;
  border-top: 1px solid #D7D7D7;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 10%;
  z-index: 90;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .results a:hover {
  background: #FFF;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .results a:hover .title {
  color: #a02702;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .results a:hover .title span {
  color: #272828;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .results a .title {
  color: #00489F;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}
#ModalSelectMap .modal-dialog .search-map .ui.search .results a .title span {
  float: right;
  color: #272828;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}
#ModalSelectMap .modal-dialog .popular-select {
  padding-top: 17px;
  margin-bottom: 30px;
  text-align: center;
}
#ModalSelectMap .modal-dialog .popular-select .inner {
  display: inline-block;
}
#ModalSelectMap .modal-dialog .popular-select .inner p {
  display: inline-block;
  float: left;
  margin: 0px;
}
#ModalSelectMap .modal-dialog .popular-select .inner span {
  color: #004182;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0px 20px;
}
#ModalSelectMap .modal-dialog .icon-close-map {
  position: absolute;
  right: 25px;
  top: 18px;
}
#ModalSelectMap .modal-dialog .modal-body #map-chart {
  width: 800px;
  height: 400px;
  margin: 0 auto 15px auto;
}

.page-main {
  position: relative;
}

.amcharts-chart-div a {
  display: none !important;
}

#search {
  display: none;
  padding-top: 50px;
}
#search .container {
  text-align: center;
}
#search .search-form {
  margin: 0 auto;
  display: inline-block;
}
#search .skewed {
  margin-left: -15px;
  float: left;
  width: 1042px;
  padding-left: 14px;
  border-radius: 35px;
  border: 1px solid #d7d7d7;
}
#search .skewed .li-outer {
  margin: 6px 0px 0px 11px;
  z-index: 99;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
       -o-transform: skew(-20deg);
          transform: skew(-20deg);
  height: 26px;
  float: left;
  position: relative;
  display: block;
  padding-right: 10px;
}
#search .skewed .li-outer .icon {
  float: left;
  margin: 4px 0px 0px 0px;
}
#search .skewed .li-outer input[type="text"] {
  margin-left: 8px;
  width: 100px;
  font-size: 12px;
  color: #083F95;
  font-weight: 600;
  border: none;
  float: left;
  margin-top: 3px;
}
#search .skewed .li-outer input[type="text"]::-webkit-input-placeholder {
  font-size: 12px;
  color: #083F95;
  font-weight: 600;
}
#search .skewed .li-outer input[type="text"]::-moz-placeholder {
  font-size: 12px;
  color: #083F95;
  font-weight: 600;
}
#search .skewed .li-outer input[type="text"]:-ms-input-placeholder {
  font-size: 12px;
  color: #083F95;
  font-weight: 600;
}
#search .skewed .li-outer input[type="text"]::placeholder {
  font-size: 12px;
  color: #083F95;
  font-weight: 600;
}
#search .skewed .li-outer:before {
  content: "";
  width: 1px;
  height: 24px;
  position: absolute;
  display: block;
  background: #d7d7d7;
  right: 0px;
  top: 3px;
  z-index: 999;
}
#search .skewed .li-outer:first-child {
  margin-top: 0px;
  height: 40px;
  display: inline-block;
  background: #00489f;
  -webkit-box-shadow: 3px 0 5px -1px #cdcece;
          box-shadow: 3px 0 5px -1px #cdcece;
}
#search .skewed .li-outer:first-child:before {
  display: none;
}
#search .skewed .li-outer:last-child:before {
  display: none;
}
#search .skewed .li-outer .skewed-revert {
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
       -o-transform: skew(20deg);
          transform: skew(20deg);
  position: relative;
}
#search .skewed .li-outer .search-tours {
  position: relative;
  display: block;
  float: left;
  padding: 0px 11px 0px 15px;
}
#search .skewed .li-outer .search-tours .chosen-select-no-single {
  width: 130px;
}
#search .skewed .li-outer .search-tours .chosen-container {
  z-index: 99px;
  height: 40px;
  width: 135px;
  padding-top: 6px;
}
#search .skewed .li-outer .search-tours .chosen-container .chosen-single {
  padding: 0px;
  background: none;
  color: #FFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
#search .skewed .li-outer .search-tours .chosen-container .chosen-single b {
  background: none;
}
#search .skewed .li-outer .search-tours .chosen-container .chosen-single b:before {
  content: "\f107";
  font-family: FontAwesome;
  font-size: 19px;
  color: #FFF;
}
#search .skewed .li-outer .search-tours .chosen-drop {
  width: 180px;
  left: -20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
#search .skewed .li-outer .search-tours .chosen-drop .chosen-results {
  margin: 0px;
  padding: 0px;
  max-height: 400px;
}
#search .skewed .li-outer .search-tours .chosen-drop .chosen-results li {
  background: #a8a8a8;
  padding: 10px 10px;
  display: block;
  -webkit-transform: skew(0deg);
      -ms-transform: skew(0deg);
       -o-transform: skew(0deg);
          transform: skew(0deg);
  width: 100%;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}
#search .skewed .li-outer .search-tours .chosen-drop .chosen-results li:hover {
  background: #00489f;
}
#search .skewed .li-outer .search-tours .icon-search {
  position: absolute;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  background: #00489f;
  width: 40px;
  height: 40px;
  display: block;
  z-index: 999;
  left: -28px;
  top: 0px;
}
#search .skewed .li-outer .search-tours .icon-search img {
  margin: 10px 0px 0px 10px;
  width: 18px;
  height: 18px;
}
#search .skewed .li-outer .select-map .ico-location {
  float: left;
  display: inline-block;
  margin: 4px 0px 0px 13px;
}
#search .skewed .li-outer .select-map #get-info {
  float: left;
  opacity: 1;
}
#search .skewed .li-outer .select-map #get-info .chosen-select-map {
  width: 275px;
}
#search .skewed .li-outer .select-map #get-info .chosen-container {
  margin-left: 8px;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-choices {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: #FFF;
  padding: 0px;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-choices input[type="text"] {
  margin-left: 0px;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-choices .chosen-search-input {
  margin-top: 0px;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-choices .search-choice {
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 5px;
  position: relative;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-choices .search-choice div {
  background: url(../images/ico-add-location.png) no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  right: -38px;
  top: 0px;
  cursor: pointer;
  z-index: 999;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-choices .search-choice span {
  position: relative;
  margin-top: 1px;
  background: none;
  background: #FFF;
  min-width: auto;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-choices .search-choice a {
  background: url(../images/ico-close-1.png) no-repeat;
  top: 8px;
  right: 8px;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-results {
  position: relative;
  background: #00489f;
  color: #FFF;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-results li {
  padding: 10px 10px;
}
#search .skewed .li-outer .select-map #get-info .chosen-container .chosen-drop {
  top: 36px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#search .skewed .li-outer .select-map #get-info span {
  margin-top: -2px;
  padding: 5px 25px 5px 15px;
  border-radius: 16px;
  min-width: 115px;
  display: inline-block;
  font-size: 14px;
  color: #272828;
  border: 1px solid #d7d7d7;
  position: relative;
}
#search .skewed .li-outer .select-map .ico-add-location {
  float: left;
  margin: 0px 0px 0px 9px;
  display: none;
}
#search .skewed .li-outer .select-map .destination {
  margin: 7px 0px 0px 0px;
  font-size: 12px;
  font-weight: 600;
  color: #083F95;
  float: left;
}
#search .skewed .li-outer .datepicker {
  background: red;
}
#search .skewed .li-outer .datepicker input[type="text"] {
  width: 93px;
}
#search .skewed .li-outer .duration img {
  float: left;
}
#search .skewed .li-outer .duration input[type="text"] {
  width: 120px;
}
#search .view-all {
  margin-left: 9px;
  height: 40px;
  width: 125px;
  border-radius: 100px;
  display: inline-block;
  float: left;
  background-color: #0B2961;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

.ui-datepicker {
  width: 540px;
  padding: 20px 20px;
}
.ui-datepicker .ui-datepicker-header {
  background: #00489f;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  color: #FFF;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  #search .container {
    width: 1440px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
  }
}
@media screen and (min-width: 1325px) {
  #search .container {
    min-width: 1177px;
    padding: 0px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1325px) {
  #search .container {
    width: 100%;
    padding: 0px;
  }
}
.ui-datepicker .ui-datepicker-prev span span, .ui-datepicker .ui-datepicker-next span {
  background: red;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
}

@-o-keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
}
.md-title .container {
  width: 100%;
}
.md-title .container h1 {
  height: 36px;
  color: #272828;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;
}
.md-title .container h1 span {
  font-weight: 500;
}

#slider2 .owl-item.active .item-slider-2 {
  padding: 0px 0px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
#slider2 .item-slider-2 {
  opacity: 1;
  height: 350px;
  width: 100%;
  padding: 32px 42px;
}
#slider2 .item-slider-2 .inner {
  position: relative;
  height: 100%;
  border: 2px solid #b2a96d;
  border-radius: 9px;
}
#slider2 .item-slider-2 .inner .thumb-nail {
  border-top: 8px solid #0254a6;
  border-radius: 7px;
  overflow: hidden;
  height: 100%;
}
#slider2 .item-slider-2 .inner .thumb-nail img {
  height: 100%;
  width: 100%;
  border-radius: 0px;
}
#slider2 .item-slider-2 .inner .info {
  position: absolute;
  left: 25px;
  bottom: 21px;
  color: #FFF;
}
#slider2 .item-slider-2 .inner .info h3 {
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  margin-bottom: 19px;
}
#slider2 .item-slider-2 .inner .info .Upcoming {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 17px;
}
#slider2 .item-slider-2 .inner .info .Upcoming span {
  font-weight: bold;
}
#slider2 .item-slider-2 .inner .info .date li {
  margin: 0px;
  float: left;
  display: inline-block;
  padding: 0px 10px;
  position: relative;
}
#slider2 .item-slider-2 .inner .info .date li:first-child {
  padding-left: 0px;
}
#slider2 .item-slider-2 .inner .info .date li.before {
  content: "";
  height: 18px;
  width: 1px;
  background: #FFF;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
#slider2 .owl-dots {
  padding-top: 35px;
}
#slider2 .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  background: #dadada;
  margin: 5px 5px;
}
#slider2 .owl-dots .owl-dot.active span {
  background: #b2a96d;
}

@media screen and (max-width: 992px) {
  #slider2 .slider2 .item-slider-2 {
    padding: 30px 28px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info h3 {
    font-size: 35px;
    line-height: 35px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info .Upcoming {
    margin-bottom: 14px;
    font-size: 16px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info .date {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #slider2 .slider2 .item-slider-2 {
    height: 280px;
    padding: 25px 17px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info h3 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info .Upcoming {
    margin-bottom: 12px;
    font-size: 12px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info .date {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  #slider2 .slider2 .item-slider-2 {
    height: 280px;
    padding: 0px 0px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info .Upcoming {
    margin-bottom: 10px;
    font-size: 12px;
  }
  #slider2 .slider2 .item-slider-2 .inner .info .date {
    font-size: 12px;
  }
}
