/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #272828;
  line-height: 1.5;
  background: #FFF;
}

a {
  color: #272828;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
  color: #00489F;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

p {
  margin-bottom: 22px;
}
p:last-child {
  margin-bottom: 0px;
}

input[type="submit"] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;
}

/* header
 -----------------------------------------------------*/
.show {
  display: block;
}

.page-header {
  position: relative;
  height: 86px;
}
.page-header .nav-mobile {
  display: none;
  background: #1a3669;
  z-index: 999999;
  position: absolute;
  top: 100%;
  width: 100%;
}
.page-header .bg-boder span {
  width: 50%;
  height: 2px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#b2aa6e), color-stop(80%, #FFF));
  background: -webkit-linear-gradient(left, #b2aa6e, #FFF 80%);
  background: -o-linear-gradient(left, #b2aa6e, #FFF 80%);
  background: linear-gradient(to right, #b2aa6e, #FFF 80%);
  position: absolute;
}
.page-header .bg-boder .bg-left {
  left: 0px;
  bottom: 0px;
}
.page-header .bg-boder .bg-right {
  background: -webkit-gradient(linear, right top, left top, from(#b2aa6e), color-stop(88%, #FFF));
  background: -webkit-linear-gradient(right, #b2aa6e, #FFF 88%);
  background: -o-linear-gradient(right, #b2aa6e, #FFF 88%);
  background: linear-gradient(to left, #b2aa6e, #FFF 88%);
  right: 0px;
  bottom: 0px;
}
.page-header .container {
  padding-top: 21px;
  height: 86px;
  position: relative;
}
.page-header .container .navbar-header {
  position: absolute;
  top: 6px;
  left: 30px;
}
.page-header .container .navbar-header .navbar-toggle .icon-bar {
  background: #b3aa6f;
  width: 28px;
  height: 4px;
}
.page-header .container .nav-main .nav-left {
  float: left;
}
.page-header .container .nav-main .nav-right {
  float: right;
}
.page-header .container .nav-main .nav-right .ctn-login a {
  float: left;
}
.page-header .container .nav-main .nav-right .ctn-login .signup {
  margin-right: 11px;
}
.page-header .container .nav-main .nav-right .ctn-login .signup:before {
  content: "";
  background: #c8c8c8;
  width: 1px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: -11px;
  top: 2px;
}
.page-header .container .nav-main .nav-right .ctn-login .login {
  margin-left: 11px;
}
.page-header .container .nav-main li {
  padding: 10px 16px;
}
.page-header .container .nav-main li a {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px 0px;
}
.page-header .container .nav-main li a:hover {
  cursor: pointer;
  background: none;
  color: red;
}
.page-header .container .nav-main li a:focus {
  background: none;
}
.page-header .container .nav-main li .cart img {
  width: 20px;
  height: 18px;
  margin-right: 8px;
  margin-top: -5px;
}
.page-header .container .logo {
  position: absolute;
  left: 50%;
  margin-left: -88px;
  top: -5px;
  width: 122px;
  height: 98px;
}
.page-header .container .logo img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .page-header .container .nav-main li {
    padding: 10px 12px;
  }
}
@media screen and (max-width: 1030px) {
  .page-header .container {
    padding: 0px 0px;
    height: 70px;
    padding-top: 13px;
  }
  .page-header .container .logo {
    width: 112px;
    height: 88px;
    top: 15px;
  }
  .page-header .container .nav-main li {
    padding: 10px 11px;
  }
  .page-header .container .nav-main li a {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1325px) {
  .page-header .container {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .page-header .nav-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .page-header {
    display: block;
    height: 70px;
    padding-top: 0px;
  }
  .page-header .container {
    height: 70px;
  }
  .page-header .nav-mobile {
    display: none;
  }
  .page-header .nav-mobile ul {
    margin: 0px;
  }
  .page-header .nav-mobile ul li {
    border-bottom: 1px solid #FFF;
    display: block;
    width: 100%;
  }
  .page-header .nav-mobile ul li a {
    color: #FFF;
    padding: 10px 50px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .page-header .nav-mobile ul li a:hover {
    background: #4c689b;
  }
  .page-header .bg-boder .bg-right {
    background: -webkit-gradient(linear, right top, left top, from(#b2aa6e), color-stop(80%, #FFF));
    background: -webkit-linear-gradient(right, #b2aa6e, #FFF 80%);
    background: -o-linear-gradient(right, #b2aa6e, #FFF 80%);
    background: linear-gradient(to left, #b2aa6e, #FFF 80%);
  }
  .page-header .bg-boder .bg-left {
    background: -webkit-gradient(linear, left top, right top, from(#b2aa6e), color-stop(80%, #FFF));
    background: -webkit-linear-gradient(left, #b2aa6e, #FFF 80%);
    background: -o-linear-gradient(left, #b2aa6e, #FFF 80%);
    background: linear-gradient(to right, #b2aa6e, #FFF 80%);
  }
  .page-header .container .logo {
    margin-left: -57px;
    top: 7px;
  }
  .page-header .container .navbar-header .navbar-toggle {
    display: block;
    position: absolute;
  }
  .page-header .container .nav-main {
    display: none;
  }
}
/* footer
 -----------------------------------------------------*/
/* ==========================================================================
module rating
========================================================================== */
.md-rating {
  display: inline-block;
  clear: both;
}
.md-rating img {
  width: auto;
  display: inline-block;
}
.md-rating span {
  color: #1D1E1E;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 12px;
}
.md-rating .left {
  float: left;
}
.md-rating .left-text {
  margin: 7px 0px 0px 6px;
}
.md-rating .center {
  text-align: center;
  display: block;
}

 /* ==========================================================================
module slider ranger
========================================================================== */
.layout {
  padding: 50px;
  font-family: Georgia, serif;
}

.layout-slider {
  margin-bottom: 60px;
  width: 50%;
}

.layout-slider-settings {
  font-size: 12px;
  padding-bottom: 10px;
}

.layout-slider-settings pre {
  font-family: Courier;
}

.md-slider-ranger .jslider .jslider-label-to {
  display: none !important;
}

.md-slider-range {
  display: inline-block;
}

.layout-slider {
  display: inline-block;
  width: auto;
}

.md-slider-ranger .jslider {
  top: 0px;
}

.md-slider-ranger .jslider .jslider-label {
  display: none !important;
}

.md-slider-ranger .jslider .jslider-value {
  top: 17px;
}
.md-slider-ranger .jslider .jslider-value span {
  position: relative;
  color: #1D1E1E;
  font-size: 14px;
  z-index: 555;
}

.md-slider-ranger-2 .jslider .jslider-value span:before {
  content: "SGD$\00a0";
  display: inline-block;
}

.md-slider-ranger-2 .jslider .jslider-value-to span:before {
  content: "SGD \00a0 $ \00a0";
  display: inline-block;
}

.md-slider-ranger .jslider .jslider-pointer {
  background: #00489f;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: -6px;
}

.md-slider-ranger .jslider .jslider-bg i {
  background: #d8d8d8;
  height: 1px;
}

.md-slider-ranger .jslider .jslider-bg .v {
  background: #00489f;
}

/* ==========================================================================
module minus plus js
========================================================================== */
.md-plus-minus {
  display: inline-block;
}
.md-plus-minus .btn-gr {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.md-plus-minus .btn-gr img {
  width: 100%;
}
.md-plus-minus input[type="text"] {
  width: 62px;
  height: 42px;
  border-radius: 5px;
  text-align: center;
  padding: 0px 5px;
  border: 1px solid #d7d7d7;
  margin: 0px 7px;
}

.md-ping {
  background: #fbf9e7;
}

 /* ==========================================================================
module info price
========================================================================== */
.md-info-price {
  background: #fbf9e7;
  padding: 10px 20px;
  display: inline-block;
}
.md-info-price span {
  display: block;
  color: #1D1E1E;
  color: #000;
  font-weight: 600;
  margin-bottom: 2px;
}
.md-info-price .price {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 5px;
}

/* ==========================================================================
module btn goup
========================================================================== */
.md-btn-group {
  display: block;
  width: 100%;
  text-align: center;
}
.md-btn-group.btn-single a {
  background: #00489f;
}
.md-btn-group .inner {
  display: inline-block;
}
.md-btn-group a {
  height: 40px;
  display: inline-block;
  padding: 7px 50px 0px 50px;
  background: #234ba0;
  border-radius: 25px;
  color: #FFF;
  margin-right: 40px;
  min-width: 140px;
}
.md-btn-group a:last-child {
  margin-right: 0px;
}
.md-btn-group .btn-blue {
  background: #0b2961;
}

 /* ==========================================================================
btn view
========================================================================== */
.md-btn-view {
  cursor: pointer;
  background: #0b2961;
  width: 100%;
  height: 40px;
  display: inline-block;
  color: #FFF;
  padding: 8px 10px 0px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

/* ==========================================================================
module rating item
========================================================================== */
.md-rating-item {
  padding: 35px 10px 0px 20px;
}
.md-rating-item h3 {
  font-size: 24px;
  font-weight: 600;
  color: #1D1E1E;
  margin: 0px 0px 0px;
}
.md-rating-item .duration {
  display: block;
  color: #1D1E1E;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* ==========================================================================
item slider-3
========================================================================== */
.item-slider-3 {
  border-radius: 11px;
  width: 100%;
  border: 1px solid #d8d8d8;
  display: inline-block;
}
.item-slider-3 .top-img {
  width: 100%;
}
.item-slider-3 .top-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.item-slider-3 .price-item {
  border-top: 1px solid #b7ae75;
  overflow: hidden;
  height: 185px;
}
.item-slider-3 .price-item .md-rating-item {
  position: relative;
  width: 59%;
  display: block;
  float: left;
  height: 100%;
  border-right: 1px solid #b7ae75;
}
.item-slider-3 .price-item .md-rating-item .duration {
  position: absolute;
  bottom: 50px;
  left: 17px;
}
.item-slider-3 .price-item .md-rating-item .md-rating {
  position: absolute;
  bottom: 30px;
  left: 17px;
}
.item-slider-3 .price-item .md-info-price {
  width: 41%;
  padding: 50px 20px 0px 20px;
  display: block;
  height: 100%;
  float: left;
}

@media screen and (max-width: 1300px) {
  .item-slider-3 .price-item {
    height: 160px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 30px;
    padding-left: 15px;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 20px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    margin-bottom: 0px;
    font-size: 15px;
    bottom: 50px;
    left: 15px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating {
    bottom: 30px;
    left: 15px;
  }
  .item-slider-3 .price-item .md-info-price {
    padding-top: 37px;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .item-slider-3 .price-item {
    height: 145px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 5px;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 18px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    left: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    bottom: 44px;
    font-size: 15px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating {
    left: 10px;
    bottom: 22px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating img {
    margin-right: -2px;
  }
  .item-slider-3 .price-item .md-info-price {
    padding-top: 40px;
    padding-left: 10px;
  }
  .item-slider-3 .price-item .md-info-price span {
    line-height: 1.1em;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 18px;
  }
}
.slider3 {
  position: none;
  width: 100%;
}
.slider3 .item-slider-3 {
  margin: 0px 20px;
  width: auto;
}

@media screen and (max-width: 600px) {
  .item-slider-3 .price-item {
    height: 150px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 5px;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 16px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    margin-bottom: 0px;
    font-size: 12px;
    bottom: 55px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating {
    bottom: 20px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating .left {
    float: none;
    display: block;
    margin: 3px 0px 0px;
  }
  .item-slider-3 .price-item .md-info-price {
    padding-top: 45px;
    padding-left: 10px;
  }
  .item-slider-3 .price-item .md-info-price span {
    font-size: 12px;
    line-height: 1.2em;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .item-slider-3 .price-item {
    height: 150px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 5px;
    width: 61%;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 15px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .item-slider-3 .price-item .md-info-price {
    width: 39%;
    padding-top: 45px;
    padding-left: 10px;
  }
  .item-slider-3 .price-item .md-info-price span {
    font-size: 12px;
    line-height: 1.2em;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 15px;
  }
}
@media screen and (max-width: 510px) {
  .item-slider-3 .price-item {
    height: 160px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 5px;
    width: 61%;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 21px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    margin-bottom: 0px;
    font-size: 12px;
    left: 20px;
    bottom: 50px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating {
    left: 20px;
    bottom: 25px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating .left {
    float: left;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating .left-text {
    float: left;
    display: inline-block;
    margin: 10px 0px 0px 10px;
  }
  .item-slider-3 .price-item .md-info-price {
    width: 39%;
    padding-top: 45px;
    padding-left: 21px;
  }
  .item-slider-3 .price-item .md-info-price span {
    font-size: 12px;
    line-height: 1.2em;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 15px;
  }
}
@media screen and (max-width: 430px) {
  .item-slider-3 .price-item {
    height: 140px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 25px;
    padding-left: 15px;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 18px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    left: 15px;
    bottom: 45px;
    margin-bottom: 0px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating {
    left: 15px;
  }
  .item-slider-3 .price-item .md-info-price {
    padding: 35px 0px 0px 15px;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 18px;
  }
}
@media screen and (max-width: 380px) {
  .item-slider-3 .price-item {
    height: 135px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 18px;
    padding-left: 10px;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 17px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    left: 10px;
    margin-bottom: 0px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating {
    left: 10px;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 17px;
  }
}
@media screen and (max-width: 350px) {
  .item-slider-3 .price-item {
    height: 140px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 18px;
    padding-left: 10px;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 16px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    font-size: 11px;
    left: 10px;
    bottom: 55px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating {
    left: 10px;
    bottom: 20px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating .left {
    float: none;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating .left-text {
    float: left;
    display: block;
    margin: 0px 0px 0px 0px;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 16px;
  }
}
@media screen and (max-width: 330px) {
  .item-slider-3 .price-item {
    height: 130px;
  }
  .item-slider-3 .price-item .md-rating-item {
    padding-top: 18px;
    padding-left: 7px;
  }
  .item-slider-3 .price-item .md-rating-item h3 {
    font-size: 14px;
  }
  .item-slider-3 .price-item .md-rating-item .duration {
    font-size: 11px;
    left: 7px;
    bottom: 55px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating {
    left: 7px;
    bottom: 20px;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating .left {
    float: none;
  }
  .item-slider-3 .price-item .md-rating-item .md-rating .left-text {
    float: left;
    display: block;
    margin: 0px 0px 0px 0px;
  }
  .item-slider-3 .price-item .md-info-price {
    padding-left: 7px;
  }
  .item-slider-3 .price-item .md-info-price .price {
    font-size: 14px;
  }
}
/* ==========================================================================
#slider3
========================================================================== */
#slider3.container, #slider1.container {
  width: 100%;
  position: relative;
  padding: 0px;
}

.slider-control .slick-next {
  width: 9px;
  height: 15px;
  left: 95%;
  top: -35px;
  z-index: 9999;
  display: block;
}
.slider-control .slick-next:before {
  content: "";
  background: url(../images/ico-next.png) no-repeat;
  width: 9px;
  height: 15px;
  display: block;
}
.slider-control .slick-prev {
  position: absolute;
  left: 92%;
  top: -35px;
}
.slider-control .slick-prev:before {
  content: "";
  background: url(../images/ico-prev.png) no-repeat;
  width: 9px;
  height: 15px;
  display: block;
}

@media screen and (max-width: 1300px) {
  .slider-control .slick-next {
    left: 95%;
  }
  .slider-control .slick-prev {
    left: 92%;
  }
}
@media screen and (max-width: 1100px) {
  .slider-control .slick-next {
    left: 95%;
  }
  .slider-control .slick-prev {
    left: 92%;
  }
}
@media screen and (max-width: 991px) {
  .slider-control .slick-next {
    left: 95%;
  }
  .slider-control .slick-prev {
    left: 91%;
  }
}
@media screen and (max-width: 768px) {
  .slider-control .slick-next {
    top: -20px;
    left: 95%;
  }
  .slider-control .slick-prev {
    left: 89%;
    top: -20px;
  }
}
@media screen and (max-width: 450px) {
  .slider-control .slick-next {
    left: 95%;
  }
  .slider-control .slick-prev {
    left: 88%;
  }
}
@media screen and (max-width: 768px) {
  .slider-control .item-slider-3 {
    margin: 0px 10px;
  }
}
@media screen and (max-width: 500px) {
  .slider-control .item-slider-3 {
    width: 100%;
    margin: 0px 10px;
  }
}
/* ==========================================================================
module md-big-info
========================================================================== */
.inner-content-boder {
  border-top: 10px solid #0254a6;
  height: 300px;
  border-bottom: 5px solid #b2a96d;
}

.md-big-info {
  position: relative;
  height: 300px;
  width: 33.33333%;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #d8d8d8;
}
.md-big-info .inner {
  padding: 15px 7px 0px 10px;
}
.md-big-info .info span {
  font-size: 14px;
  float: left;
  margin-left: 10px;
  color: #272828;
}
.md-big-info .info span:first-child {
  margin-left: 0px;
}
.md-big-info .info .price {
  line-height: 1.4;
  font-size: 34px;
  font-weight: 600;
}
.md-big-info .info .taxes {
  margin-top: 20px;
}
.md-big-info h3 {
  display: block;
  color: #272828;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 22px 0px 6px 0px;
}
.md-big-info .duration {
  font-size: 16px;
  font-weight: 600;
  color: #272828;
}
.md-big-info .md-rating {
  position: absolute;
  bottom: 25px;
  left: 10px;
}

/* ==========================================================================
#slider1,slider-item-1
========================================================================== */
.slider-item-1 {
  position: relative;
  padding: 0px 0.14%;
}
.slider-item-1 .md-big-info {
  float: left;
}
.slider-item-1 .right-img {
  border-radius: 15px;
  overflow: hidden;
  width: 66.6666%;
  height: 300px;
  float: right;
  display: inline-block;
}
.slider-item-1 .right-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1150px) {
  .slider1 .slider-item-1 {
    padding: 0px 0.12%;
  }
  .slider1 .slider-item-1 .md-big-info {
    float: left;
  }
  .slider1 .slider-item-1 .md-big-info .inner .title {
    margin: 10px 0px 6px 0px;
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  .slider1 .slider-item-1 {
    padding: 0px 0.13%;
  }
  .slider1 .slider-item-1 .md-big-info {
    float: left;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info span {
    font-size: 12px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .fr {
    margin-right: 5px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .price {
    font-size: 25px;
    margin-left: 0px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .taxes {
    margin: 13px 0px 0px 5px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .title {
    margin: 12px 0px 6px 0px;
    font-size: 22px;
    line-height: 22px;
  }
}
@media screen and (max-width: 800px) {
  .slider1 .slider-item-1 {
    padding: 0px 0.12%;
  }
  .slider1 .slider-item-1 .inner-content-boder {
    height: 250px;
  }
  .slider1 .slider-item-1 .md-big-info {
    height: 250px;
    float: left;
  }
  .slider1 .slider-item-1 .md-big-info .inner {
    padding: 10px 7px 0px 10px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info span {
    font-size: 12px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .fr {
    margin-right: 5px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .price {
    font-size: 25px;
    margin-left: 0px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .taxes {
    margin: 13px 0px 0px 5px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .title {
    margin: 12px 0px 6px 0px;
    font-size: 16px;
    line-height: 22px;
    line-height: 22px;
    margin-bottom: 0px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .duration {
    font-size: 14px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .md-rating {
    bottom: 15px;
  }
  .slider1 .slider-item-1 .right-img {
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .slider1 .slider-item-1 {
    padding: 0px 0.22%;
  }
  .slider1 .slider-item-1 .inner-content-boder {
    height: 250px;
  }
  .slider1 .slider-item-1 .md-big-info {
    height: 150px;
    width: 100%;
    float: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .slider1 .slider-item-1 .md-big-info .inner-content-boder {
    height: 150px;
  }
  .slider1 .slider-item-1 .md-big-info .inner {
    padding: 10px 7px 0px 10px;
    border-top: none;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info span {
    font-size: 12px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .fr {
    margin-right: 5px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .price {
    font-size: 25px;
    margin-left: 0px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .info .taxes {
    margin: 13px 0px 0px 5px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .title {
    margin: 12px 0px 6px 0px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .duration {
    font-size: 14px;
  }
  .slider1 .slider-item-1 .md-big-info .inner .md-rating {
    position: relative;
    left: 0px;
    bottom: 0px;
    display: block;
  }
  .slider1 .slider-item-1 .md-big-info .inner .md-rating .md-rating-5 {
    display: inline-block;
  }
  .slider1 .slider-item-1 .right-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    float: right;
    width: 100%;
    height: 150px;
  }
  .slider1 .slider-item-1 .right-img .inner-content-boder {
    height: 150px;
    border-bottom: none;
  }
}
/* module css 02
 -----------------------------------------------------*/
